<app-header></app-header>






<div class="stats-container" fxLayout.sm="column" fxLayout.md="column" fxLayout.xs="column"
  fxLayoutAlign="center center">
  <mat-card class="card card1 animate__animated animate__backInLeft">
    <mat-card-header>
      <div fxFlex="100" fxLayout="column">
        <h2 class="card-title">Ritmo Cardiaco</h2>

      </div>
    </mat-card-header>
    <mat-card-content>
      <div class="">
        <p class="card-date" style="margin-top: 20px;"></p>
        <canvas id="realtime3">{{ chart_ritmo }}</canvas>

        <div class="card-content" style="margin-top:8px; text-align: center;">
          <h2>Valor actual: {{ritmoActual}} lat/seg </h2>
        </div>

    </div>
      <p>
        La frecuencia cardíaca es uno de los “signos vitales” o los indicadores importantes de la salud en el cuerpo humano. Mide la cantidad de veces por minuto que el corazón se contrae o late.


      </p>
    </mat-card-content>
  </mat-card>
  <mat-card class="card card2 animate__animated animate__backInDown">
    <mat-card-header>
      <div fxFlex="100" fxLayout="column">
        <h2 class="card-title">Oxigeno</h2>
      </div>
    </mat-card-header>
    <mat-card-content>

      <div class="">
        <p class="card-date" style="margin-top: 20px;"></p>
        <canvas id="realtime2">{{ char_grafica_oxigeno }}</canvas>

        
        
        <div class="card-content" style="margin-top:8px; text-align: center;">
          <h2>Valor actual: {{valorActualOxigeno}} % </h2>
        </div>

    </div>

      <p>
        El nivel de oxígeno en la sangre es la cantidad de oxígeno que circula en la sangre. La mayor parte del oxígeno es transportado por los glóbulos rojos, los cuales recolectan oxígeno de los pulmones y lo envían a todas las partes del cuerpo.


      </p>
    </mat-card-content>
  </mat-card>

  <mat-card class="card card3 animate__animated animate__backInRight">
    <mat-card-header>
      <div fxFlex="100" fxLayout="column">
        <h2 class="card-title">Temperatura</h2>

      </div>

    </mat-card-header>
    <mat-card-content>
      <div>
        <p class="card-date" style="margin-top: 20px;"></p>
        <canvas id="realtime">{{ char_grafica_temperatura }}</canvas>
    </div>

    <div class="card-content" style="margin-top:8px; text-align: center;">
      <h2>Valor actual: {{valorActualOxigeno}} % </h2>
    </div>

      <p>
        La temperatura normal del cuerpo humano (normotermia, eutermia) es el rango de temperatura típico que se encuentra en los humanos. El rango de temperatura normal del cuerpo humano se establece típicamente entre 36.5–37.5 °C (97.7–99.5 °F).

      </p>
    </mat-card-content>

  </mat-card>
</div>

<div class="stats-container" fxLayout.sm="column" fxLayout.md="column" fxLayout.xs="column"
  fxLayoutAlign="center center">
  <mat-card class="card card1 animate__animated animate__backInLeft">
    <mat-card-header>
      <div fxFlex="100" fxLayout="column">
        <h2 class="card-title">Reportes Ritmo Cardiaco</h2>
        <hr>
      </div>
    </mat-card-header>
    <mat-card-content>
      <p class="card-date" style="margin-top: 20px;"></p>
      <canvas id="realtime6">{{ rep_grafica_ritmo  }}</canvas>

        <div class="card-content">
          <h3>Estadísticas</h3>
          <p> Míninmo: {{this.estadisticas_ritmo.min}}  lat/seg </p>
          <p> Máximo: {{this.estadisticas_ritmo.max}}   lat/seg</p>
          <p> Promedio: {{this.estadisticas_ritmo.promedio}}  lat/seg </p>
        </div>

    </mat-card-content>
  </mat-card>
  <mat-card class="card card2 animate__animated animate__backInDown">
    <mat-card-header>
      <div fxFlex="100" fxLayout="column">
        <h2 class="card-title">Reportes Oxigeno en la Sangre</h2>
      </div>
      
    </mat-card-header>
    <hr>
    <mat-card-content>
      <p class="card-date" style="margin-top: 20px;"></p>
      <canvas id="realtime5">{{ rep_grafica_oxigeno  }}</canvas>

        <div class="card-content">
          <h3>Estadísticas</h3>
          <p> Míninmo: {{this.estadisticas_oxigeno.min}} % </p>
          <p> Máximo: {{this.estadisticas_oxigeno.max}} %</p>
          <p> Promedio: {{this.estadisticas_oxigeno.promedio}} %</p>
        </div>

    </mat-card-content>
  </mat-card>
  <mat-card class="card card3 animate__animated animate__backInRight">
    <mat-card-header>
      <div fxFlex="100" fxLayout="column">
        <h2 class="card-title">Reportes Temperatura</h2>
        <hr>
      </div>

    </mat-card-header>
    <mat-card-content>
      <div>
        <p class="card-date" style="margin-top: 20px;"></p>
        <canvas id="realtime4">{{ rep_grafica_temperatura  }}</canvas>
        <div class="card-content">
          <h3>Estadísticas </h3>
          <p> Míninmo: {{this.estadisticas_temp.min}}  C°</p>
          <p> Máximo: {{this.estadisticas_temp.max}}  C°</p>
          <p> Promedio: {{this.estadisticas_temp.promedio}} C° </p>
      </div>

    </div>
    </mat-card-content>
  </mat-card>
</div>

<div class="stats-container" fxLayout.sm="column" fxLayout.md="column" fxLayout.xs="column"
  fxLayoutAlign="center center">


  <mat-card class="card card4 animate__animated animate__backInDown">
    <mat-card-header>
      <div fxFlex="100" fxLayout="column">
        <p class="card-title">Estado</p>

      </div>
    </mat-card-header>
    <mat-card-content>

      <div >
        <div class="card-content">
            <img [src]="imagen" alt="">
        </div>

    </div>

    </mat-card-content>

  </mat-card>

  
  <mat-card class="card card4 animate__animated animate__backInDown">

          <div class="time__container">
              {{minutes}}:{{seconds}}
          </div>

          <div class="timer__actions">

              <br>
              <br>
              <button
                  class="btn btn-success"
                  (click)="start()"
              >
                  Iniciar
              </button>

              <button
                  class="btn btn-danger"
                  (click)="stop()"
              >
                  Parar
              </button>

          </div>

  </mat-card>

  


</div>



<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootswatch/4.5.2/lux/bootstrap.min.css"
  integrity="sha384-9+PGKSqjRdkeAU7Eu4nkJU8RFaH8ace8HGXnkiKMP9I9Te0GJ4/km3L1Z8tXigpG" crossorigin="anonymous" />
<div class="historial-container">






  <!-- NO IMPORTA QUE EL HISTORY ESTE VACIO , cuando en las peticiones se llene el ngFor lo va recargar-->
