<app-header></app-header>


<div class="stats-container" fxLayout.sm="column" fxLayout.md="column" fxLayout.xs="column"
  fxLayoutAlign="center center">


  <mat-card class="card card4 animate__animated animate__backInDown">
    <mat-card-header>
      <div fxFlex="100" fxLayout="column">
        <p class="card-title">Estado</p>

      </div>
    </mat-card-header>
    <mat-card-content>

      <div >
        <div class="card-content">
            <img [src]="imagen" alt="">
        </div>

    </div>

    </mat-card-content>

  </mat-card>
  <mat-card class="card card4 animate__animated animate__backInDown">

          <div class="time__container">
              {{minutes}}:{{seconds}}
          </div>

          <div class="timer__actions">

              <br>
              <br>
              <button
                  class="btn btn-success"
                  (click)="takeTime()"
              >
                  Iniciar
              </button>

              <button
                  class="btn btn-danger"
                  (click)="stop()"
              >
                  Parar
              </button>

          </div>

  </mat-card>


</div>



<div class="stats-container" fxLayout.sm="column" fxLayout.md="column" fxLayout.xs="column"
  fxLayoutAlign="center center">
  <mat-card class="card card1 animate__animated animate__backInLeft">
    <mat-card-header>
      <div fxFlex="100" fxLayout="column">
        <p class="card-title">Ritmo Cardiaco</p>

      </div>
    </mat-card-header>
    <mat-card-content>
      <div class="">
        <canvas id="realtime3">{{ chart_ritmo }}</canvas>

        <div class="card-content">
         <h3>Realtime</h3>
         <p>Esta grafica muestra el ritmo cardiaco en tiempo real
         </p>
        </div>

    </div>
      <p>
        Lorem ipsum dolor sit amet consectetur, adipisicing elit. Provident
        blanditiis tenetur molestiae ducimus similique, sapiente perspiciatis
        dolorum hic magnam nisi error quia eius explicabo expedita dignissimos
        est magni. Accusamus, iusto.
      </p>
    </mat-card-content>
    <mat-card-actions>
      <button mat-button [routerLink]="['/reports']">Reportes</button>
      <a mat-button [routerLink]="['/rhythm']">Info</a>
    </mat-card-actions>
  </mat-card>
  <mat-card class="card card2 animate__animated animate__backInDown">
    <mat-card-header>
      <div fxFlex="100" fxLayout="column">
        <p class="card-title">Oxigeno en la Sangre</p>

      </div>
    </mat-card-header>
    <mat-card-content>

      <div class="">
        <canvas id="realtime2">{{ char_grafica_oxigeno }}</canvas>

        <div class="card-content">
            <h3>Realtime</h3>
            <p>Esta grafica muestra el oxigeno en tiempo real</p>
        </div>

    </div>

      <p>
        Lorem ipsum dolor sit amet consectetur, adipisicing elit. Provident
        blanditiis tenetur molestiae ducimus similique, sapiente perspiciatis
        dolorum hic magnam nisi error quia eius explicabo expedita dignissimos
        est magni. Accusamus, iusto.
      </p>
    </mat-card-content>
    <mat-card-actions>
      <button mat-button [routerLink]="['/report-oxigen']">Reportes</button>
      <button mat-button [routerLink]="['/oxygen']">Info</button>
    </mat-card-actions>
  </mat-card>
  <mat-card class="card card3 animate__animated animate__backInRight">
    <mat-card-header>
      <div fxFlex="100" fxLayout="column">
        <p class="card-title">Temperatura</p>
      </div>

    </mat-card-header>
    <mat-card-content>
      <div>
        <p class="card-date" style="margin-top: 20px;"></p>
        <canvas id="realtime">{{ char_grafica_temperatura }}</canvas>

        <div class="card-content">
      </div>

    </div>
    <h3>Realtime Temperatura</h3>
      <p>
        Lorem ipsum dolor sit amet consectetur, adipisicing elit. Provident
        blanditiis tenetur molestiae ducimus similique, sapiente perspiciatis
        dolorum hic magnam nisi error quia eius explicabo expedita dignissimos
        est magni. Accusamus, iusto.
      </p>
    </mat-card-content>
    <mat-card-actions>
      <button mat-button [routerLink]="['/report-temp']">Reportes</button>
      <button mat-button [routerLink]="['/temperature']">Info</button>
    </mat-card-actions>
  </mat-card>
</div>




<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootswatch/4.5.2/lux/bootstrap.min.css"
  integrity="sha384-9+PGKSqjRdkeAU7Eu4nkJU8RFaH8ace8HGXnkiKMP9I9Te0GJ4/km3L1Z8tXigpG" crossorigin="anonymous" />
<div class="historial-container">






  <!-- NO IMPORTA QUE EL HISTORY ESTE VACIO , cuando en las peticiones se llene el ngFor lo va recargar-->
