<app-nav-test></app-nav-test>
<link
  rel="stylesheet"
  href="https://stackpath.bootstrapcdn.com/bootswatch/4.5.2/materia/bootstrap.min.css"
  integrity="sha384-B4morbeopVCSpzeC1c4nyV0d0cqvlSAfyXVfrPJa25im5p+yEN/YmhlgQP/OyMZD"
  crossorigin="anonymous"
/>

<div class="container">
    <div class="row">
      <div class="col-12">
        <mat-selection-list>
          <mat-card>

            <mat-card-content>
              <table class="table">
                <thead class="thead-dark">
                  <tr><th colspan="3" class="text-center">Conteo de repeticiones por fecha</th></tr>
                  
                  <tr class="text-center" >
                    <th scope="col">fecha <br>(YY-MM-DD-HH-mm-ss)</th>
                    <th scope="col"># de repeticiones</th>
                    <th scope="col">¿ Aprobo ?</th>
                  </tr>
                </thead>
                <tbody>
                   <!--NG FOR TR  -->
                  <tr class="text-center" *ngFor = "let rep of showRep1">
                    <td>{{rep.fecha}}</td>
                    <td>{{rep.cantidadRepeticiones}}</td>
                    <td>{{rep.logrado}}</td>
                    
                  </tr>
                </tbody>
              </table>
            </mat-card-content>


          </mat-card>
        </mat-selection-list>


        <mat-selection-list>
          <mat-card>
            <mat-card-header>
              <mat-card-title></mat-card-title>
            </mat-card-header>

             
      
              <mat-card-content>

                <table class="table">
                  <thead class="thead-dark">
                    <tr><th colspan="4" class="text-center">Conteo de repeticiones por semana</th></tr>
                    <tr class="text-center">
                      <th scope="col">Semana del año</th>
                      <th scope="col"># de repeteciones Promedio</th>
                      <th scope="col"># de repeteciones maximo</th>
                      <th scope="col"># de repeteciones minimo</th>
                    </tr>
                  </thead>
                  <tbody>
                     <!--NG FOR TR  -->
                    <tr class="text-center">
                      <td>Mark</td>
                      <td>Otto</td>
                      <td>Mark</td>
                      <td>Otto</td>
                    </tr>
                  </tbody>
                </table>
               
            </mat-card-content>


          </mat-card>
        </mat-selection-list>

      
      
      <mat-selection-list>
        <mat-card>
            
            <mat-card-content>
              <table class="table">
                <thead class="thead-dark">
                  <tr><th colspan="4" class="text-center">Velocidad Alcanzada</th></tr>
                  <tr class="text-center">
                    <th scope="col"># repeticion </th>
                    <th scope="col">Promedio de velocidad</th>
                    <th scope="col">velocidad maxima</th>
                    <th scope="col">velocidad minima</th>
                  </tr>
                </thead>
                <tbody>
                   <!--NG FOR TR  -->
                  <tr class="text-center">
                    <td>Mark</td>
                    <td>Otto</td>
                    <td>Mark</td>
                    <td>Otto</td>
                  </tr>
                </tbody>
              </table>
          </mat-card-content>
        </mat-card>
      </mat-selection-list>



      <mat-selection-list>
        <mat-card>
          <mat-card-header>

          </mat-card-header>
          <mat-card-content>

            <mat-selection-list>
              <mat-card>
                  <mat-card-content>
                    <table class="table">
                      <thead class="thead-dark">
                        <tr><th colspan="2" class="text-center">Distancia medida por repeticion</th></tr>
                        <tr class="text-center">
                          <th scope="col"># repeticion </th>
                          <th scope="col">Distancia recorrida</th>
                        </tr>
                      </thead>
                      <tbody>
                         <!--NG FOR TR  -->
                        <tr class="text-center">
                          <td>Mark</td>
                          <td>Otto</td>
                        </tr>
                      </tbody>
                    </table>
                </mat-card-content>
              </mat-card>
            </mat-selection-list>
      
     
          </mat-card-content>
        </mat-card>
      </mat-selection-list>




        <mat-selection-list>
          <mat-card>
              
              <mat-card-content>
                <table class="table">
                  <thead class="thead-dark">
                    <tr><th colspan="2" class="text-center">Conteo de veces que el atleta ha fallado:  {{this.showRep4.length}}</th></tr>
                    <tr class="text-center">
                      <th scope="col">Fecha</th>
                      <th scope="col"># de repeticion antes de fallar</th>
                    </tr>
                  </thead>
                  <tbody>
                     <!--NG FOR TR  -->
                    <tr class="text-center" *ngFor="let rep of showRep4">
                      <td>{{rep.fecha}}</td>
                      <td>{{rep.cantidadRepeticiones}}</td>
                    </tr>
                  </tbody>
                </table>
            </mat-card-content>
          </mat-card>
        </mat-selection-list>



      <mat-selection-list>
        <mat-card>
            
            <mat-card-content>
              <table class="table">
                <thead class="thead-dark">
                  <tr><th colspan="2" class="text-center">Conteo de veces que el atleta ha Rendido: #</th></tr>
                  <tr class="text-center">
                    <th scope="col"># de test </th>
                    <th scope="col"># de repeticion antes de rendirese</th>
                  </tr>
                </thead>
                <tbody>
                   <!--NG FOR TR  -->
                  <tr class="text-center">
                    <td>Mark</td>
                    <td>Otto</td>
                  </tr>
                </tbody>
              </table>
          </mat-card-content>
        </mat-card>
      </mat-selection-list>

      </div>
    </div>





  <div class="row">
    <div class="col-6">
      <mat-selection-list>
        <mat-card>
          <mat-card-header>
            <mat-card-title>Informe de Velocidad </mat-card-title>
          </mat-card-header>
          <mat-card-content>
            <mat-card-subtitle *ngFor="let vel of fecha_velocityDataAux">
              {{ vel.fecha }} <br />
              {{ vel.velocity }} 
            </mat-card-subtitle>
          </mat-card-content>
        </mat-card>
      </mat-selection-list>
    </div>

    <div class="col-6">
      <h1>Gráfica de Velocidad (m/s) </h1>
      <div style="display: block">
        <canvas baseChart
          [data]="velocityData"
          [labels]="velocityLabels"
          [options]="barChartOptions"
          [legend]="velocityChartLegend"
          [chartType]="velocityChartType">
        </canvas>
      </div>

    </div>


  </div>

  <div class="row">
    <div class="col-6">
      <mat-selection-list>
        <mat-card>
          <mat-card-title>Informe the repeticiones </mat-card-title>
          <mat-card-subtitle *ngFor="let vel of fecha_repeticionesDataAux">
            {{ vel.fecha }} <br />
            {{ vel.repetition }} 
          </mat-card-subtitle>
        </mat-card>
      </mat-selection-list>
    </div>
    <div class="col-6">
      <h1>Gráfica de Repeticiones  (#)</h1>

      <div style="display: block">
        <canvas baseChart
          [data]="repetitionData"
          [labels]="repetitionLabels"
          [options]="barChartOptions"
          [legend]="repetitionChartLegend"
          [chartType]="repetitionChartType">
        </canvas>
      </div>


    </div>
  </div>

  <div class="row">
    <div class="col-6">
      <mat-selection-list>
        <mat-card>
          <mat-card-title>Informe Distancia </mat-card-title>
          <mat-card-subtitle *ngFor="let vel of fecha_distanceDataAux">
            {{ vel.fecha }} <br />
            {{ vel.distance }} 
          </mat-card-subtitle>
        </mat-card>
      </mat-selection-list>
    </div>
    <div class="col-6">

      <h1>Gráfica Distancia (m)</h1>

      <div style="display: block">
        <canvas baseChart
          [data]="distanceData"
          [labels]="distanceLabels"
          [options]="barChartOptions"
          [legend]="distanceLegend"
          [chartType]="barChartType">
        </canvas>
      </div>

    </div>
  </div>

  <div class="row">
    <div class="col-6">
      <mat-selection-list>
        <mat-card>
          <mat-card-title>Informe de Ritmo Cárdiaco </mat-card-title>
          <mat-card-subtitle *ngFor="let vel of fecha_ritmoDataAux">
            {{ vel.fecha }} <br />
            {{ vel.rhythm }}
          </mat-card-subtitle>
        </mat-card>
      </mat-selection-list>
    </div>
    <div class="col-6">
      <h1>Ritmo Cárdiaco Gráfica  (bpm) </h1>

      <div style="display: block">
        <canvas baseChart
          [data]="rythmData"
          [labels]="rythmLabels"
          [legend]="rythmLegend"
          [options]="barChartOptions"
          [chartType]="barChartType">
        </canvas>
      </div>

    </div>
  </div>

  <div class="row">
    <div class="col-6">
      <mat-selection-list>
        <mat-card>
          <mat-card-title>Informe de Fallos</mat-card-title>
          <mat-card-subtitle *ngFor="let vel of lista">
            24.3.2021 <br />
            {{ vel }}
          </mat-card-subtitle>
        </mat-card>
      </mat-selection-list>
    </div>
    <div class="col-6">
      <h1> Gráfica de Fallos  (#)</h1>

      <div style="display: block">
        <canvas baseChart
          [data]="failsData"
          [labels]="failsLabels"
          [options]="barChartOptions"
          [legend]="failsLegend"
          [chartType]="barChartType">
        </canvas>
      </div>

    </div>
  </div>


</div>
