.container{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    height: 300px;
}
.container2{
    /*display: flex;*/
    flex-direction: row;
    justify-content: space-around;
    margin-left: 155px;
    width: 1600px;
    border: 1px solid black;
}

.card-date {
    padding: 5px;
}
mat-card {
    background:rgba(0, 0, 255, 0.2); 
}
