<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootswatch/4.5.2/spacelab/bootstrap.min.css" integrity="sha384-F1AY0h4TrtJ8OCUQYOzhcFzUTxSOxuaaJ4BeagvyQL8N9mE4hrXjdDsNx249NpEc" crossorigin="anonymous">

<div class="container col-xl-10 col-12 col-md-12 sm-col-12 my-4 jumbotron">
    <hr class="offset-xl-1 my-4 col-xl-10 ">
    <h1 class="display-3" style="text-align: center;">MEDIDOR DE RITMO</h1>
    <hr class="offset-xl-1 my-4 col-xl-10">


    <div class="offset-xl-1 alert alert-dismissible alert-success col-xl-10 col-md-12 col-12 col-sm-12">
        <button type="button" class="close" data-dismiss="alert">&times;</button>
        <h4 class="alert-heading">Warning!</h4>
        <p class="mb-0">
            Una frecuencia cardíaca en reposo normal para los adultos oscila entre 60 y 100 latidos por minuto. Generalmente, una frecuencia cardíaca más baja en reposo implica una función cardíaca más eficiente y un mejor estado físico cardiovascular
        </p>
    </div>



    <div class="offset-xl-1 card col-xl-10">
        <canvas id="realtime">{{ chart_ritmo }}</canvas>
    
        <div class="card-content">
         <h3>Realtime</h3>
         <p>Esta grafica muestra el ritmo cardiaco en tiempo real</p>
        </div>
    
    </div>
    <body class="offset-xl-1 card border-primary mb-3 col-xl-10 col-md-12 col-12 col-sm-12" style="height: 100%;">
        <div class="card-header white">
            <p style="font-size: 5vw; font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif">
                RITMO: {{this.ritmoActual}}
            </p>
        </div>
    </body>

    <button type="button" class="offset-xl-1 btn btn-outline-danger col-xl-5 col-md-12 col-12 col-sm-12">BACK</button>
    <button type="button" class="btn btn-outline-success col-xl-5 col-md-12 col-12 col-sm-12">SAVE</button>
</div>






