<div class="main-container">
    <!--
    <nav fxHide.lg class="animate__animated animate__bounceInDown">
        <ul xs.fxLayout="column" sm.fxLayout="column" md.fxLayout="column" xs.fxLayoutAlign="center center"
            sm.fxLayoutAlign="space-between center">
            <div class="menu-cont">
                <li>
                    <a [routerLink]="['/home']">Inicio</a>
                </li>
                <li>
                    <a [routerLink]="['/login']">Iniciar Sesión</a>
                </li>
            </div>
            <div class="menu-cont">
                <li>
                    <a [routerLink]="['/signup']">Registrarse</a>
                </li>
                <li>
                    <a [routerLink]="['/about']">Acerca de</a>
                </li>
            </div>
        </ul>
        <div class="text-container">
            <p class="animate__animated  animate__backInRight">
                Tecnología Vestible para Ejercicio
            </p>
        </div>
    </nav>

-->
    <nav fxHide.sm fxHide.xs class="animate__animated animate__bounceInDown">
        <ul>
            <li>
                <a [routerLink]="['/home']">Inicio</a>
            </li>
            <li>
                <a [routerLink]="['/login']">Iniciar Sesión</a>
            </li>
            <li>
                <a [routerLink]="['/signup']">Registrarse</a>
            </li>
            <li>
                <a [routerLink]="['/about']">Acerca de</a>
            </li>
        </ul>
        <div class="text-container">
            <p>
                Tecnología Vestible para Ejercicio
            </p>
        </div>
    </nav>
</div>
