.stats-container {
    display: flex;
    justify-content: space-between;
}

.card {
    width: 800px;
    margin: 50px;
    background:white;
}

.card1 {
    box-shadow: -16px 18px 30px 0.5px;

}
.card2 {
    box-shadow: 3px 3px 25px 0.2px;

}
.card3 {
    box-shadow: 16px 18px 30px 0.5px;

}

@media only screen and (max-width: 600px) {
    .card {
        box-shadow: 3px 3px 25px 0.2px;
    }
}
@media only screen and (max-width: 1266px) {
    .card {
        box-shadow: 3px 3px 25px 0.2px;
    }
  }
.card-title {
    font-size: 30px;
}

.historial-container {
    padding: 50px;
}

.card-header {
    padding: 10px;
}

.card-date {
    padding: 10px;
}

.counter-container {
    margin-top: 30px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: center;
}

.txt-time {
    font-weight: bold;
    font-size: 40px;
}

.txt-msg {
    margin-top: 10px;
    font-size: 30px;
}

.h-list {
    padding: 100px;
}

.ajuste {
    margin-top: 30px;
    overflow: scroll;
    height: 800px;
    width:auto;
}
button{
    width: 100%;
}