.stats-container {
    display: flex;
    justify-content: center;
}

.card {
    width: 400px;
    margin: 50px;
}

.card-title {
    font-size: 30px;
}

.historial-container {
    padding: 50px;
}

.card-header {
    padding: 10px;
}

.card-date {
    padding: 10px;
}