<app-header></app-header>
<link
  rel="stylesheet"
  href="https://stackpath.bootstrapcdn.com/bootswatch/4.5.2/lux/bootstrap.min.css"
  integrity="sha384-9+PGKSqjRdkeAU7Eu4nkJU8RFaH8ace8HGXnkiKMP9I9Te0GJ4/km3L1Z8tXigpG"
  crossorigin="anonymous"
/>

<div class="row col-xl-12">
  <div
    class="stats-container col-xl-12"
    fxLayout.sm="column"
    fxLayout.md="column"
    fxLayout.xs="column"
    fxLayoutAlign="center center"
  >
    <mat-card
      class="card card3 animate__animated animate__backInRight"
      style="max-height: 6000px"
    >
      <mat-card-header>
        <div fxFlex="100" fxLayout="column">
          <p class="card-title">Test Course-Navetee</p>
          <p class="card-date"></p>
        </div>
      </mat-card-header>
      <mat-card-content>
        <img mat-card-image src="assets/course.jpg" />
        <p>
          Prueba tu destresa , demostrando que eres capaz de superar el Course Navette
          ,aprovechando la tecnologia y automatizacion que proveemos para ayudarte a mejorar tu rendimiento fisico.
          ¿De que trata Course Navette ? descrubelo por ti mismo dandole click al boton que esta justo por debajo!
        </p>
      </mat-card-content>
      <mat-card-actions>
        <button mat-button [routerLink]="['/report-test']">GO TO TEST</button>
      </mat-card-actions>
    </mat-card>
  </div>


<!-- NO IMPORTA QUE EL HISTORY ESTE VACIO , cuando en las peticiones se llene el ngFor lo va recargar-->
