<app-header></app-header>
<link
  rel="stylesheet"
  href="https://stackpath.bootstrapcdn.com/bootswatch/4.5.2/lux/bootstrap.min.css"
  integrity="sha384-9+PGKSqjRdkeAU7Eu4nkJU8RFaH8ace8HGXnkiKMP9I9Te0GJ4/km3L1Z8tXigpG"
  crossorigin="anonymous"
/>

<div class="row col-xl-12">
  <div
    class="stats-container col-xl-6"
    fxLayout.sm="column"
    fxLayout.md="column"
    fxLayout.xs="column"
    fxLayoutAlign="center center"
  >
    <mat-card
      class="card card3 animate__animated animate__backInRight"
      style="max-height: 6000px"
    >
      <mat-card-header>
        <div fxFlex="100" fxLayout="column">
          <p class="card-title">Test Course-Navetee</p>
          <p class="card-date"></p>
        </div>
      </mat-card-header>
      <mat-card-content>
        <img mat-card-image src="assets/course.jpg" />
        <p>
          Lorem ipsum dolor sit amet consectetur, adipisicing elit. Provident
          blanditiis tenetur molestiae ducimus similique, sapiente perspiciatis
          dolorum hic magnam nisi error quia eius explicabo expedita dignissimos
          est magni. Accusamus, iusto.
        </p>
      </mat-card-content>
      <mat-card-actions>
        <button mat-button [routerLink]="['/report-test']">GO TO TEST</button>
      </mat-card-actions>
    </mat-card>
  </div>

  <div class="ajuste col-6">
      <table class="table ajuste  table-striped col-12" style="width: 900px;">
        <thead class="thead-light">
          <tr>

          </tr>
          <tr>
            <th>
              <h1>
                #
              </h1>
            </th>
            <th>
              <h1>
                Historial de mediciones
                <span class="material-icons"> remove_red_eye </span>
              </h1>
            </th>

          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let h of history; let i = index;">
            <th>
              {{ i  }}
            </th>
            <th>
                <mat-icon mat-list-icon>folder</mat-icon>
                <strong>{{h.type}}</strong>
                Resultado: {{ h.valor }}
                {{ h.fecha | date: "dd/MM/yyyy" }}
                {{ h.fecha | date: "hh:mm:ss" }}
            </th>

          </tr>
        </tbody>
      </table>
    </div>
</div>
<!-- NO IMPORTA QUE EL HISTORY ESTE VACIO , cuando en las peticiones se llene el ngFor lo va recargar-->
