<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootswatch/4.5.2/spacelab/bootstrap.min.css" integrity="sha384-F1AY0h4TrtJ8OCUQYOzhcFzUTxSOxuaaJ4BeagvyQL8N9mE4hrXjdDsNx249NpEc" crossorigin="anonymous">

<div class="container col-xl-10 col-8 col-md-8 sm-col-8 my-4 jumbotron">
    <hr class="my-4">
    <h1 class="display-3" style="text-align: center;">OXIGENO</h1>
    <hr class="my-4">
    <div class="alert alert-dismissible alert-warning col-xl-10">
        <button type="button" class="close" data-dismiss="alert">&times;</button>
        <h4 class="alert-heading">Warning!</h4>
        <p class="mb-0">Best check yo self, you're not looking too good. Nulla vitae elit libero, a pharetra augue. Praesent commodo cursus magna, <a href="#" class="alert-link">vel scelerisque nisl consectetur et</a>.</p>
      </div>
    <body class="card border-primary mb-3 col-xl-10" style="height: 100%;">
        <div class="card-header white">
            <p style="font-size: 4vw">
                OXIGENO
            </p>
            <hr class="my-4">
  
            <div style="font-size: 15vw">
                95
            </div>
            <hr class="my-4">

        </div>

    </body>
    <button type="button" class="btn btn-outline-primary col-xl-5">TAKE OXYGEN</button>

    <button type="button" class="btn btn-outline-danger col-xl-5">BACK</button>

</div>



