<p>report-oxigeno works!</p>
<div class="container">
    <mat-card class="example-card2" >
        <mat-card-header>
        <div mat-card-avatar class="example-header-image"></div>
        <mat-card-title>OXÍGENO EN LA SANGRE</mat-card-title>
        </mat-card-header>
        <img mat-card-image src="./assets/oxigeno.jpg" alt="Photo of a Shiba Inu">
        <mat-card-content>
        </mat-card-content>
        <mat-card-actions>
            <div>
                <b>OXÍGENO EN LA SANGRE PROMEDIO: 15</b>
            </div>
            <button mat-button>HISTORIAL DE OXÍGENO EN LA SANGRE</button>
            <button mat-button>OXÍGENO EN LA SANGRE EN TIEMPO REAL</button>
        </mat-card-actions>
    </mat-card>
</div>
