.card{
    margin-top: 60px;
    width: 300px;
    max-width: 500px;
    display: flex;
    flex-direction: column;
    justify-content: center;

}


.container{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

@media only screen and (max-width: 600px) {
    .card {
        max-width: 300px;
    }
}

mat-card-actions {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.prom-content {
    text-align: center;
}

mat-card-header {
    width: 100%;
    background: black;
    color: white;
    height: 50px;
    font-size: 20px;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center
}


mat-card-content {
    display: flex;
    justify-content: center
}

mat-toolbar {
    display: flex;
    justify-content: center;
    text-align: center
}

button {
    background-color: black;
    color: white;
    width: 100%;
}

.title {
    font-size: smaller;
}
