mat-list-item {
    justify-content:right;
}
.example-card {
    max-width: 300px;
  }
.container{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
.imgRedonda {
    width:70px;
    height:70px;
    border-radius:150px;
}