<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootswatch/4.5.2/cyborg/bootstrap.min.css" integrity="sha384-nEnU7Ae+3lD52AK+RGNzgieBWMnEfgTbRHIwEvp1XXPdqdO6uLTd/NwXbzboqjc2" crossorigin="anonymous">

<nav class="navbar navbar-expand-lg navbar-dark bg-dark" style="min-height:75px">
    <a class="navbar-brand" >TVE G22</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
        aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
            <li class="nav-item active">
                <a (click) = "goto_dashboard()" mat-button ><span class="material-icons">
                        logout
                    </span> back
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" [routerLink]="'/about'">Link</a>
              </li>

            <li class="nav-item">
                <a (click) = "goto_profile()" mat-button ><span class="material-icons">
                        face
                    </span> Perfil</a>
            </li>
            <li class="nav-item">
                <a (click) = "goto_close()"  mat-button >Cerrar Sesión</a>
            </li>
        </ul>

    </div>
    <span class="flex-spacer">
    </span>
    <div class="counter-container">
        <p class="txt-time">{{time | date:'mediumTime'}}</p>
    </div>
</nav>