<div class="dashboard">
    <br>
    <br>
    <div class="row">

        <div class="col-12">
            <button class="btn btn-danger" (click)="logout()">Cerrar Sesión</button>
        </div>
    </div>

    <div class="row">
        <div class="col-md-6 col-sm-12">
            <div class="dashboard_one animate__flipInX  animate__animated">
                <br>
                <div class="title">¡Bienvenido {{ username }}!</div>
                <br>
                <br>
                <div class="form-floating mb-3">
                    <input type="number" class="form-control" [(ngModel)]="weight" sid="floatingInput" placeholder="Ingresa tu peso en kilogramos">
                    <label for="floatingInput">Ingresa tu peso en kilogramos</label>
                </div>
                <div class="form__action">
                    <button
                        class="btn btn-warning btn-rp"
                        (click)="start()"
                    >
                        Realizar prueba
                    </button>
                </div>
            </div>
        </div>
        <div class="col-md-6 col-sm-12">
            <div class="dashboard_one animate__flipInX animate__animated">
                <br>
                <div class="title">VO2 MAX</div>
                <br>
                <br>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6 col-6">
            <div class="dashboard_two animate__flipInX animate__animated" style="color:white; text-align: center;">
                <br>
              

                <div class="line_chart" style="display: block">
                    <div class=" offset-xxl-1 card col-xl-12 col-md-12 "  style="max-height: 350px; max-width: 1500px; padding-right: 70;">
                        <canvas id="realtime" >{{ char_grafica }}</canvas>
                
                    </div>
                  </div>

            </div>
        </div>

        <div class="col-md-6">
            <div class="dashboard_timer animate__flipInX animate__animated">

                <div class="time__container">
                    {{minutes}}:{{seconds}}
                </div>

                <div class="timer__actions">
 
                    <br>


                    <select class="form-control" name ="combo" [(ngModel)]="this.testActual" class="col-9 col-md-9">
                     
                        <option *ngFor="let test of listaTest" value={{test.test}}>{{test.test}}</option>
                    </select>
                    <br>
                    <br>
                    <button
                        class="btn btn-success"
                        (click)="mostrarTest()"
                    >
                        mostrar Test
                    </button>
                

                </div>

            </div>
        </div>
        
        <div class="col-md-6 col-sm-12">
            <div class="dashboard_one animate__flipInX animate__animated">
                <br>
                <br>
                
                <h3 >Volumen Exhalado / min</h3>
                <h4 >Máximo: {{volEMax}}</h4>
                <h4 >Mínimo: {{volEMin}} </h4>
                <h3 >Volumen Inhalado / min</h3>
                <h4 >Máximo: {{volIMax}}</h4>
                <h4 >Mínimo: {{volIMin}} </h4>
                
                <br>
            </div>
        </div>
        <div class="col-md-6 col-sm-12">
            <div class="dashboard_one animate__flipInX animate__animated">
                <br>
                <br>
                <h3 >Promedio volumen exhalado / min</h3>
                <h4 >{{promE}}</h4>
                <h3 >Promedio volumen inhalado / min</h3>
                <h4 >{{promI}}</h4>
                <h3 >Medición final de vo2 max</h3>
                <h4 >{{vo2}}  ( ml/kg/min)</h4>
                
                
                <br>
            </div>
        </div>
    </div>
</div>
