<div class="main-container">
    <nav>
        <ul>
            <li>
                <a href="#">Home</a>
            </li>
            <li>
                <a href="#">Sign In</a>
            </li>
        </ul>
        <div class="text-container">
            <p>
                Tecnología Vestible para Ejercicio
            </p>
        </div>
    </nav>
</div>

<div class="info-container">
    <h1>
        ¿Qué es TVE?
    </h1>
    <p>
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consequatur, modi labore ducimus, esse praesentium
        vero enim dignissimos repellendus fugit, vitae quia dolore minus non temporibus consequuntur id accusantium quae
        facilis. Lorem ipsum dolor sit amet consectetur adipisicing elit. Cupiditate recusandae itaque sequi excepturi
        quos, voluptatum harum debitis aliquid iste sapiente provident, consectetur perferendis assumenda numquam hic
        eligendi vitae quidem magni.
    </p>
    <p>
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nihil debitis exercitationem laborum saepe est eveniet
        quo adipisci tempora, voluptate odio consectetur recusandae provident doloribus, facere alias, eaque iure
        molestias assumenda. Lorem ipsum dolor sit amet consectetur adipisicing elit. Facilis quisquam laudantium
        laborum sed. Quia excepturi ad ut provident deleniti numquam, architecto illo odio repellendus, quaerat
        voluptatem eligendi dolore molestias molestiae! Lorem ipsum, dolor sit amet consectetur adipisicing elit.
        Numquam quae ut deserunt rerum tempore similique, quis quos, molestiae, culpa corporis voluptatum fuga
        accusamus. Impedit, numquam exercitationem. In et neque doloremque?
    </p>

</div>